// grid variables
$grid-columns: 12 ;
$grid-max-width: 65em;


// breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";

//Colors
$purple: #D0609D;
$pink: #FF7976;
$green: #5ECB65;
$yellow: #C2EE6E;

$font: sans-serif;
