*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

section#colors,
section#typo {
  display: flex;
  flex-direction: column;
  margin-left: 1rem; }

header h1 {
  font-weight: lighter;
  font-size: 4em;
  border-bottom: 1px solid lightgray;
  margin-bottom: 1rem; }

.color-palette, .tint-palette, .tints, .generated-palette {
  display: flex; }

.tints {
  flex: 1; }

figure.color-description {
  flex: 1;
  margin: 1em; }
  figure.color-description:first-child {
    margin-left: 0; }
  figure.color-description:last-child {
    margin-right: 0; }

.color-window {
  width: 100%;
  padding-bottom: 50%;
  margin-bottom: 0.5em; }
  .color-window.small {
    padding-bottom: 25%; }

.color-description p {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  margin-bottom: 0.25em; }
  .color-description p span.color-property {
    text-align: left;
    font-weight: bold; }
  .color-description p span.color-value {
    text-align: right; }

.fonts h1 {
  font-size: 2.5em;
  margin: 0.5em 0; }
.fonts p {
  letter-spacing: 0.3em; }

#bree-serif h1, #bree-serif p {
  font-family: "Bree Serif", serif; }

.heading {
  display: flex;
  flex-basis: 10%;
  align-items: center;
  justify-content: space-around;
  margin: 1em 0; }
  .heading h1 {
    color: #FF7976;
    font-family: "Bree Serif", serif;
    font-size: 3em;
    margin: 0; }
  .heading h2 {
    color: black;
    font-size: 2.5em; }
  .heading h3 {
    color: lightgray;
    font-family: "Bree Serif", serif;
    font-size: 2em; }
  .heading h4 {
    color: #c79670;
    font-family: "Bree Serif", serif;
    font-size: 2em; }
  .heading h5 {
    color: black;
    font-size: 1.5em;
    font-weight: bold; }
  .heading h6 {
    color: black;
    font-size: 1em;
    text-transform: uppercase; }

.heading-icon {
  flex: 1; }

.heading-text {
  flex: 9; }

.purple {
  background-color: #D0609D; }
  .fonts .purple {
    color: #D0609D;
    background-color: white; }

.purple.lighter {
  background-color: #dc87b5; }

.purple.darker {
  background-color: #c33a85; }

.pink {
  background-color: #FF7976; }
  .fonts .pink {
    color: #FF7976;
    background-color: white; }

.pink.lighter {
  background-color: #ffaba9; }

.pink.darker {
  background-color: #ff4743; }

.purple.pink {
  background-color: #e0698f; }

.green {
  background-color: #5ECB65; }
  .fonts .green {
    color: #5ECB65;
    background-color: white; }

.green.lighter {
  background-color: #85d78a; }

.green.darker {
  background-color: #3cba44; }

.purple.green {
  background-color: #a88589; }

.yellow {
  background-color: #C2EE6E; }
  .fonts .yellow {
    color: #C2EE6E;
    background-color: white; }

.yellow.lighter {
  background-color: #d5f39c; }

.yellow.darker {
  background-color: #afe940; }

.purple.yellow {
  background-color: #cb928d; }

.purple {
  background-color: #D0609D; }
  .fonts .purple {
    color: #D0609D;
    background-color: white; }

.purple.lighter {
  background-color: #dc87b5; }

.purple.darker {
  background-color: #c33a85; }

.pink.purple {
  background-color: #ef7084; }

.pink {
  background-color: #FF7976; }
  .fonts .pink {
    color: #FF7976;
    background-color: white; }

.pink.lighter {
  background-color: #ffaba9; }

.pink.darker {
  background-color: #ff4743; }

.green {
  background-color: #5ECB65; }
  .fonts .green {
    color: #5ECB65;
    background-color: white; }

.green.lighter {
  background-color: #85d78a; }

.green.darker {
  background-color: #3cba44; }

.pink.green {
  background-color: #c79670; }

.yellow {
  background-color: #C2EE6E; }
  .fonts .yellow {
    color: #C2EE6E;
    background-color: white; }

.yellow.lighter {
  background-color: #d5f39c; }

.yellow.darker {
  background-color: #afe940; }

.pink.yellow {
  background-color: #eaa273; }

.purple {
  background-color: #D0609D; }
  .fonts .purple {
    color: #D0609D;
    background-color: white; }

.purple.lighter {
  background-color: #dc87b5; }

.purple.darker {
  background-color: #c33a85; }

.green.purple {
  background-color: #86a679; }

.pink {
  background-color: #FF7976; }
  .fonts .pink {
    color: #FF7976;
    background-color: white; }

.pink.lighter {
  background-color: #ffaba9; }

.pink.darker {
  background-color: #ff4743; }

.green.pink {
  background-color: #96ae6b; }

.green {
  background-color: #5ECB65; }
  .fonts .green {
    color: #5ECB65;
    background-color: white; }

.green.lighter {
  background-color: #85d78a; }

.green.darker {
  background-color: #3cba44; }

.yellow {
  background-color: #C2EE6E; }
  .fonts .yellow {
    color: #C2EE6E;
    background-color: white; }

.yellow.lighter {
  background-color: #d5f39c; }

.yellow.darker {
  background-color: #afe940; }

.green.yellow {
  background-color: #81d768; }

.purple {
  background-color: #D0609D; }
  .fonts .purple {
    color: #D0609D;
    background-color: white; }

.purple.lighter {
  background-color: #dc87b5; }

.purple.darker {
  background-color: #c33a85; }

.yellow.purple {
  background-color: #c7bc7e; }

.pink {
  background-color: #FF7976; }
  .fonts .pink {
    color: #FF7976;
    background-color: white; }

.pink.lighter {
  background-color: #ffaba9; }

.pink.darker {
  background-color: #ff4743; }

.yellow.pink {
  background-color: #d7c571; }

.green {
  background-color: #5ECB65; }
  .fonts .green {
    color: #5ECB65;
    background-color: white; }

.green.lighter {
  background-color: #85d78a; }

.green.darker {
  background-color: #3cba44; }

.yellow.green {
  background-color: #9fe26b; }

.yellow {
  background-color: #C2EE6E; }
  .fonts .yellow {
    color: #C2EE6E;
    background-color: white; }

.yellow.lighter {
  background-color: #d5f39c; }

.yellow.darker {
  background-color: #afe940; }

/*# sourceMappingURL=styles.css.map */
